body{font-size: 80%;
	font-family: "Courier New",Courier,monospace;
	letter-spacing: 0.15em; 
	background-color:hsl(0,0%,50%);
}
h1{
	text-align: center;
}

#page{
		max-width: 940px;
		min-width: 721px;
		margin: 10px auto 10px auto;
		padding: 20px;
		border: 4px double #000;
		background-color: lightgray;	
	}

ul{
		width: 570px;
		padding:15px; 
		margin: 0px auto 0px auto;
		border-top: 2px solid #000;
		border-bottom: 1px solid #000;
		text-align: center;
	}

	li{
		display: inline;
		margin: 0px 3px;
	}
	p{
		text-align: center;
		width: 600px;
		margin: 20px auto 20px auto;
		font-weight: normal;
	}
	a{
		color:#000000;
		text-transform:uppercase;
		text-decoration: none;
		padding: 6px 18px 5px 18px;
	}
	a:hover, a.on{
		color: #cc3333;
		background-color: #ffffff;
	}

#form{
	background-color: #111;
	font-family: arial;
	font-size: 160%;
	color: #ffffff;
}
#image{
	text-align: center;
	width: 900px;
	height: 300px;
	margin:auto;
	background-repeat: no-repeat;
	border: 2px solid black;
}




















